body {
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   background-position: center top;
   background-color: #f7f7f7;
}

header {
   padding: 5px 0;
   background-color: black;
   height: 65px;
   position: fixed;
   width: 100%;
   z-index: 1;
   opacity: 0.7;
}

header .row,
footer .row {
   display: flex;
   align-items: center;
}

header h1 a {
   font-weight: 700;
   margin: 0;
   position: relative;
   bottom: 10px;
   color: white;
}

header h1 a:hover {
   color: white;
   text-decoration: none;
}

.jumbotron {
   display: flex;
   align-items: center;
   background-color: gray;
   background-image: url("display-background-2.JPG");
   background-size: cover;
   color: white;
   height: 65em;
   text-shadow: 0.75px 4px 2px black;
   font-family: "Berkshire Swash", "Monotype Corsiva", Papyrus, "Comic Sans MS", "Comic Sans", cursive;
}

.jumbotron .row {
   display: table;
   margin: 0 auto;
   margin-top: 60px;
   padding-top: 40px;
   background: rgba(247, 247, 247, 0.3); 
   border-radius: 5px;
   width: 710px;
   height: 180px;
}

.jumbotron h2 {
   font-size: 60px;
   font-weight: 700;
   margin: 0;
}

.jumbotron h3 {
   margin: 0 0 20px;
}

#navbar {
   font-size: 18px;
   text-align: center;
   width: 50%;
   background-color: black;
   border-radius: 8px;
}

#navbar a {
   height: 50px;
   padding-top: 10px;
   background-color: black;
   text-decoration: none;
   color: white;
}

#navbar a:hover {
   color: gray;
   text-decoration: none;
}

.ng-enter {
   -webkit-transition: 0.5s linear all;
   transition: 0.5s linear all;
   opacity: 0;
}

.ng-enter-active {
   opacity: 1;
}

.ng-leave {
   -webkit-transition: 0.5s linear all;
   transition: 0.5s linear all;
   opacity: 1;
}

.ng-leave-active {
   opacity: 0;
}

#content {
   font-family: Helvetica, Arial, sans-serif;
   margin-top: 35px;
   margin-bottom: 20px;
}

.main {
   float: left;
   width: 70%;
   background-color: #f7f7f7;
}

article {
   float: left;
   margin-bottom: 30px;
   padding: 10px 30px 30px 30px;
   /*height: 700px;*/
   width: 740px;
   background-color: white;
   color: black;
   font-size: 17px;
}

article h1 {
   font-family: "Roboto", Helvetica, sans-serif;
}

article .date {
   font-size: 14px;
   color: gray;
}

article img {
   display: block;
   width: 600px;
   margin-bottom: 15px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5px;
}

.more {
   height: 30px;
   width: 120px;
   margin: 0 auto;
   padding-top: 2px;
   background-color: #f7f7f7;
   color: black;
   text-align: center;
   border: 1px gray solid;
   border-radius: 8px;
   cursor: pointer;
   box-shadow: 1px 1px 4px black;
}

.more:hover {
   background-color: black;
   border: 1px #444444 solid;
   color: white;
}

.sidebar {
   float: right;
   width: 30%;
   padding: 20px 20px 20px 20px;
   background-color: white;
   font-size: 17px;
}

.sidebar div {
   text-align: center;
}

.sidebar div img {
   border-radius: 100%;
   height: 150px;
   width: 150px;
   margin-bottom: 15px;
}

.sidebar p {
   text-align: center;
}

footer {
   font-size: 12px;
   height: 45px;
   width: 100%;
   padding: 10px 0;
   text-align: center;
   background-color: black;
   color: white;
   position: fixed;
   bottom: 0px;
   opacity: 0.8;
}

footer .col-sm-8 {
   display: flex;
   justify-content: flex-end;
}

footer ul {
   list-style: none;
}

footer li img {
   width: 24px;
   height: 24px;
}

footer li img:hover {
   opacity: 0.7;
}