<!DOCTYPE html>
<html ng-app="TCT">
<head>
   <title>The Chris Times</title>
   <meta charset="utf-8"/>
   <link rel="stylesheet" href="bootstrap.min.css">
   <link rel='stylesheet' type='text/css' href="roboto.css">
   <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Berkshire+Swash'>
   <link rel="stylesheet" type="text/css" href="index.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
   <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script> 
   <script type="text/javascript" src="index.js"></script>
   <!--AngularJS Scripts-->
   <script type="text/javascript" src="app.js"></script>
   <script type="text/javascript" src="stories.js"></script>
</head>
   <body ng-controller="stories">
      <header class="container-fluid">
         <div class="row">
            <h1 class="col-sm-2"><a href="index.html">TCT</a></h1>
         </div>
      </header>
      <section class="jumbotron">
         <div class="container">
            <div class="row text-center">
               <h2>THE CHRIS TIMES</h2>
               <h3>A glimpse into the life of Coal Chris</h3>
            </div>
         </div>
      </section>
      <section>
         <div class="container" id="navbar">
            <a href="" class="col-sm-2" ng-click="filter('technology')">Technology</a>
            <a href="" class="col-sm-2" ng-click="filter('food')">Food</a>
            <a href="" class="col-sm-2" ng-click="filter('anime')">Anime</a>
            <a href="" class="col-sm-2" ng-click="filter('religion')">Religion</a>
            <a href="https://www.facebook.com/coal.chris" target="_blank" class="col-sm-2">Facebook</a>
            <a href="https://www.youtube.com/channel/UCf9J4CNaeTISEJAm-nR-nmg" target="_blank" class="col-sm-2">YouTube</a>
         </div>
      </section>
      <section class="container" id="content">
         <div class="main">
            <article ng-repeat="article in articles | filter: filterType">
               <h1 class="title">{{ article.title }}</h2>
               <p class="date">{{ article.date }}</p>
               <img class="image" ng-src="{{ article.image }}">
               <p class="blurb">{{ article.blurb }}</p>
               <p class="more" ng-click="showText = !showText; filter('more')" ng-show="!showText">Read More →</p>
               <p class="text" ng-show="showText" ng-bind-html="article.text"/>
            </article>
         </div>
         <div class="sidebar">
            <div>
               <img src="profile.jpg">
            </div>
            <p>
               Hi, I'm Chris and welcome to my website. I am an avid follower of technology, Japanese culture, and the Christian faith. Hopefully you'll discover some interesting facts, have a good laugh at my stories, and be inspired to walk down a similarly awesome path!
            </p>
         </div>
      </section>
      <footer class="container-fluid">
         <div class="row">
            <p class="col-sm-4">&copy; 2017 CC Group</p>
            <ul class="col-sm-8">
               <li><a href="https://www.facebook.com/coal.chris" target="_blank"><img src="facebook.svg"></a></li>
               <li class="col-sm-1"><a href="https://www.youtube.com/channel/UCf9J4CNaeTISEJAm-nR-nmg" target="_blank"><img src="youtube.png"></a></li>
            </ul>
         </div>
      </footer>
   </body>
</html>