body {
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   background-position: center top;
   background-color: #f7f7f7;
}

header {
   padding: 5px 0;
   background: rgba(0, 0, 0, 0.7);
   height: 65px;
   position: fixed;
   width: 100%;
   z-index: 1;
}

header .row,
footer .row {
   display: flex;
   align-items: center;
}

header h1 a {
   font-weight: 700;
   margin: 0;
   position: relative;
   bottom: 10px;
   color: white;
}

header h1 a:hover {
   color: white;
   text-decoration: none;
}

.jumbotron {
   display: flex;
   align-items: center;
   background-color: gray;
   background-image: url("display-background-2.JPG");
   background-size: cover;
   color: white;
   height: 65em;
   text-shadow: 0.75px 4px 2px black;
   font-family: "Berkshire Swash", "Monotype Corsiva", Papyrus, "Comic Sans MS", "Comic Sans", cursive;
}

.jumbotron .row {
   display: table;
   margin: 0 auto;
   margin-top: 60px;
   padding-top: 40px;
   background: rgba(247, 247, 247, 0.3);
   border-radius: 5px;
   width: 710px;
   height: 180px;
}

.jumbotron h2 {
   font-size: 8rem;
   font-weight: 700;
   margin: 0;
}

.jumbotron h3 {
   margin: 0 0 20px;
   font-size: 2.5rem;
}

nav, #navbar {
   font-size: 2rem;
   text-align: center;
   background-color: black;
   border-radius: 8px;
}

nav p, #navbar p {
   padding-top: 0.5em;
   color: white;
}

a:active, a:focus {
   outline: 0;
   border: none;
}

#navbar a {
   height: 2.5em;
   padding-top: 0.5em;
   background-color: black;
   text-decoration: none;
   color: white;
}

nav p:hover, #navbar p:hover {
   cursor: pointer;
   color: gray;
}

#navbar a:hover {
   color: gray;
   text-decoration: none;
}

.ng-enter {
   -webkit-transition: 0.5s linear all;
   transition: 0.5s linear all;
   opacity: 0;
}

.ng-enter-active {
   opacity: 1;
}

.ng-leave {
   -webkit-transition: 0.5s linear all;
   transition: 0.5s linear all;
   opacity: 1;
}

.ng-leave-active {
   opacity: 0;
}

#content {
   font-family: Helvetica, Arial, sans-serif;
   margin-top: 35px;
   margin-bottom: 20px;
}

.main {
   background-color: #f7f7f7;
}

article {
   margin-bottom: 30px;
   padding: 10px 30px 30px 30px;
   background-color: white;
   color: black;
   font-size: 1.7rem;
}

article h1 {
   font-family: "Roboto", Helvetica, sans-serif;
   font-size: 3.5rem;
}

article .date {
   font-size: 1.4rem;
   color: gray;
}

article img {
   display: block;
   width: 85%;
   margin-bottom: 15px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5px;
}

.more {
   height: 1.8em;
   width: 7em;
   margin: 0 auto;
   padding-top: 2px;
   background-color: #f7f7f7;
   color: black;
   text-align: center;
   border: 1px gray solid;
   border-radius: 8px;
   cursor: pointer;
   box-shadow: 1px 1px 4px black;
}

.more:hover {
   background-color: black;
   border: 1px #444444 solid;
   color: white;
}

.text {
  -webkit-transition: 0.75s linear all;
  transition: 0.75s linear all;  
  opacity: 1;
}

.text.ng-hide {
  opacity: 0;
}

.sidebar {
   padding: 20px 20px 20px 20px;
   background-color: white;
   font-size: 1.7rem;
}

.sidebar div img {
   border-radius: 100%;
   height: 18rem;
   width: 18rem;
}

footer {
   font-size: 12px;
   height: 45px;
   width: 100%;
   padding: 10px 0;
   text-align: center;
   background: rgba(0, 0, 0, 0.8);
   color: white;
   position: fixed;
   bottom: 0px;
}

footer .col-sm-8 {
   display: flex;
   justify-content: flex-end;
}

footer ul {
   list-style: none;
}

footer li img {
   width: 24px;
   height: 24px;
}

footer li img:hover {
   opacity: 0.7;
}

/* navbar display depending on device screen size */
@media screen and (max-width: 1200px) {
   #navbar {
      display: none;
   }
}

@media screen and (min-width: 1201px) {
   nav {
      display: none;
   }
}
/*
@media screen and (min-width: 1201px) and (max-width: 1330px) {
   #navbar a {
      display: none;
   }

   .col-sm-2 {
      width: 25%;
   }
}

@media screen and (min-width: 1201px) and (max-width: 1480px) {
   #navbar {
      width: 70%;
   }
}

@media screen and (min-width: 1481px) {
   #navbar {
      width: 50%;
   }
}

/* content display depending on device screen size 
@media screen and (max-width: 1200px) {
   .sidebar {
      display: inline-block;
      margin-bottom: 40px;
   }

   .sidebar div img {
      float: left;
      margin-right: 20px;
   }

   .sidebar p {
      padding-top: 1.7rem;
   }
}*/

@media screen and (max-width: 1201px) {
   .main {
      float: left;
      width: 70%;
   }

   article {
      float: left;
      width: 95%;
   }

   .sidebar {
      float: right;
      width: 30%;
   }

   .sidebar div {
      text-align: center;
   }

   .sidebar div img {
      margin-bottom: 15px;
   }

   .sidebar p {
      text-align: center;
   }
}